

@font-face {
  font-family: 'Armin Grotesk';
  src: url('fonts/armin-grotesk/Fontspring-DEMO-armingrotesk-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Armin Grotesk';
  src: url('fonts/armin-grotesk/Fontspring-DEMO-armingrotesk-thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Armin Grotesk';
  src: url('fonts/armin-grotesk/Fontspring-DEMO-armingrotesk-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Armin Grotesk';
  src: url('fonts/armin-grotesk/Fontspring-DEMO-armingrotesk-ultrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Mongoose';
  src: url('fonts/mongoose/Fontspring-DEMO-mongoose-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mongoose';
  src: url('fonts/mongoose/Fontspring-DEMO-mongoose-medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}


@font-face {
  font-family: 'Mongoose';
  src: url('fonts/mongoose/Fontspring-DEMO-mongoose-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}