

@font-face {
  font-family: 'Armin Grotesk';
  src: url('font/armin-grotesk-regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Armin Grotesk';
  src: url('font/armin-grotesk-bold.woff2') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Mongoose';
  src: url('font/mongoose.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
